<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\CSS\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" referrerpolicy="no-referrer" />
</head>
<body>
    <section id="header">
    
        <div>
            <ul id="navbar">
                <li><a  href="/api/home">Home</a></li>
                <li><a  href="/api/shop">Shop</a></li>
                <li><a href="/api/blog">Blog</a></li>
                <li><a class="active" href="/api/about">About</a></li>
                <li><a href="/api/contact">Contract</a></li>
                <li id="lg-bag"><a href="/api/cart"><i class="fa-sharp-duotone fa-solid fa-bag-shopping"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>

        </div>

        <div id="mobile">
           <a href="/api/cart"><i class="fa-sharp-duotone fa-solid fa-bag-shopping"></i></a>
           <i id="bar" class="fas fa-outdent"></i>
        </div>
        

          
    </section >

    
    <section id="page-header1" class="about-header">
           <h2>#KnowUs</h2>
           <p>Lorem ipsum dolor sit amet, consectetur </p>

    </section>


    <section id="about-head" class="section-p1">
        <img src="/images/For about page.jpg" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna alique.Ut enim ad minim veniam ,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequent.Duis auteirure dolor in reprehenderit in voluptate velit esse cillum dolar eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident ,sunt in culpa qui officia deserunt mollit aninm id est labrum </p>

            <abbr title="">Create stunning image with as much or as little control as you like thanks to a choice of basic and creative modes.</abbr>

            <br><br>

            <marquee bgcolor ="#ccc" loop="-1" scrollamount="5" width="100%">Create stunning images with as much or as little control as you like thanks to a choice of Basic and Creative modes.</marquee>

        </div>
    </section>

    <section id="about-app">
        <h1>Download Our <a href="#">App</a></h1>
        <div class="video">
            <video autoplay loop muted src="/images/7680121-uhd_2160_4096_25fps.mp4"></video> 
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="/images/vecteezy_delivery-time-shipping-transport-truck-glyph-icon-in_12914086.jpg" height="70px" width="70px">
            <h6>Free Shipping</h6>
    
        </div>
        <div class="fe-box">
            <img src="/images/online-shopping-1929002_1280.png" height="70px" width="70px">
            <h6>Online Order</h6>
    
        </div>
        <div class="fe-box">
            <img src="/images/money-576443_1280.png" height="70px" width="70px">
            <h6>Save Money</h6>
    
        </div>
        <div class="fe-box">
            <img src="/images/special-offer-606691_1280.png" height="70px" width="70px">
            <h6>Promotions</h6>
    
        </div>
        <div class="fe-box">
            <img src="/images/man-1459246_1280.png" height="70px" width="70px">
            <h6>Happy Sell</h6>
    
        </div>
        <div class="fe-box">
            <img src="/images/jumping-3095150_1280.png" height="70px" width="70px">
            <h6>F24/7 support</h6>
    
        </div>
    
        </section>

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>GEt E-mail updates about latest shop and <span>special offers</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
            </section>

    <footer class="section-p1">
        <div class="col">
       <img class="logo" src="Akta image dibo" alt="">
       <h4>Contact</h4>
       <p><strong>Address:</strong> 562 wellington Road,Street 32, San Francisco</p>
       <p><strong>Phone:</strong> +01 2222 365 /(+91) 01 2345 6789</p>
       <p><strong>Hours:</strong>10:00 - 18:00, Mon -Sat</p>
       <div class="follow">
        <h4>Follow us</h4>
        <div class="icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-youtube"></i>
         </div>
    
       </div>
     </div>
    
     <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy policy</a>
        <a href="#">Terms & conditions</a>
        <a href="#">Contact Us</a>
     </div>
    
     <div class="col">
        <h4>Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
     </div>
     <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google play</p>
        <div class="row">
            <img src="/images/img/pay/app.jpg" alt="">
            <img src="/images/img/pay/play.jpg" alt="">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="/images/img/pay/pay.png" alt="">
     </div>
    
        </footer>

 <section1>
    <div class="copyright">
        <p>@ 2023 ,Tech2 etc  - HTML CSS Ecommerce Template</p>
    </div>
 </section1>



  <script src="script.js"></script>  
</body>
</html>
